<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>社团管理-相册管理-相册详情</title>
		<link rel='icon' href='../../images/titile_logo.ico' type='image/x-ico' />

		<link rel="stylesheet" type="text/css" href="../../css/club_common.css">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/album.css">
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
		
	</head>
	<body>
		<div class="top">
			<div class="logobox">
				<img id="logo" src="../../images/logo_school.png">
			</div>
			<div class="nav">
				<ul>
					<li><a class="active" href="index.html" >首页</a></li>
					<li><a href="club/allClub.html">社团</a></li>
					<li><a href="club/allActivity.html">活动</a></li>
					<li><a href="massage/massage.html">留言板</a></li>
				</ul>
			</div>
			<div class="login">
				<a href="">登录</a>
				<a href="">注册</a>
			</div>
		</div>
		<div class="lwd_main">
			<div class="lwd_main_nav">
				<div class="header_photo">
					<img src="../../images/ccbg.jpg">
					<p>梁伟栋</p>
				</div>
				<div class="sidebar_left">
					<div class="sidebar_left_module">
						<a href="../user/personalcenter.html">
							<b><img src="../../images/man.png"></b>
							个人信息
						</a>
						<a href="showjoinedclubs.html">
							<b><img src="../../images/club.png"></b>
							我加入的社团
						</a>
						<a href="memberapplydeal.html" class="curr">
							<b><img src="../../images/club.png"></b>
							我创建的社团
						</a>
					</div>
				</div>
			</div>
			<div class="lwd_main_iframe">
				<div class="cmm_head_nav">
					<ul class="top_navs">
						<li><a href="memberapplydeal.html">申请处理</a></li>
						<li><a href="clubinformationmanage.html">社团信息</a></li>
						<li  class="curr"><a href="albummanage.html">相册管理</a></li>
						<li><a href="membermanage.html">成员管理</a></li>
						<li><a href="activitymanage.html">活动管理</a></li>
						<li><a href="positionmanage.html">职位管理</a></li>
					</ul>			
				</div>
				<div class="album_info_tool">
					<div class="album_cover"><img src="../../images/ccbg.jpg" width="100%" height="100%"></div>
					<div class="album_title">
						
						<b>那些逝去的时光</b>
						<span>共24张</span> <span style="color:#666;">/ &nbsp </span>
						<div class="overflow_hidden"> 斗鱼 -每个人的直播平台提供高清、快捷、
						流畅的视频直播和游戏赛事直播服务,包含英雄联盟lol直播、穿越火线cf直播、
						dota2直播、美女直播等各类热门游戏赛事直播和各种...
						</div>
						<a href="#"><i class="icon-m icon-down-arrow-m" id="down"></i></a>
						<a href="#" ><i class="icon-m icon-up-arrow-m" id="up" ></i></a>
						<div class="sb_more" id="sb_more">
							<table >
								<colgroup span="2">
									<col span="1" style="width:40px;">
									<col span="1" style="width:200px;">
									
								</colgroup>
								<tr>
									<td valign="top"><label for="#">描述</label>
									</td>
									<td><span id="" >情圣梁伟栋风流史，
									斗鱼 -每个人的直播平台提供高清、快捷、流畅的视频直播和游戏赛事直播服务,包含英雄联盟lol直播、穿越火线cf直播、
									dota2直播、美女直播等各类热门游戏赛事直播和各种...</span>
									</td>
								</tr>
								
								<tr>
									<td><label for="#">数量</label>
									</td>
									<td>共<span id="#">24</span>张
									</td>
								</tr>
								<tr>
									<td><label for="#">时间</label>
									</td>
									<td><span id="#">2016-12-3</span>
									</td>
								</tr>
								<tr>
									<td colspan="2"><a href="#" class="sb_update">编辑相册信息</a>
									</td>
								</tr>
							</table>
						</div>
						<div class="btn_white" id="btn_white" disabled="disabled">更多
							<div class="more_box" id="more_box">
								<ul>
									<li><a href="#">批量管理</a></li>
									<li><a href="#">设置封面</a></li>
									<li><a href="#" class="sb_update">编辑相册信息</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="album_button_bar">
						<input type="file" accept="images" multiple="multiple" class="add_album" id="add_album">
						<label for="add_album" class="ff"><i class="icon-m icon-photo-upload-m"></i>上传图片</label>
						<button ><i class="icon-m icon-trash-m"></i>删除相册</button>
					</div>
				</div>
				<div class="album_photo">
					<div class="photo_item" >
						<div class="photo_box" id="photo1">
							<img src="../../images/001.jpg" width="150px" height="120px">
							<div class="hidden_box" id="photo1_hidden_box" >
								<a href="#"><i class="icon-m icon-trash-m"></i></a>
								<a href="#"><i class="icon-m icon-cover-m"></i></a>
							</div>	
						</div>
						<div class="photo_name"><span>风景图</span></div>
					</div>
					<div class="photo_item" >
						<div class="photo_box"  id="photo2">
							<img src="../../images/001.jpg" width="150px" height="120px">
							<div class="hidden_box" id="photo2_hidden_box">
								<a href="#"><i class="icon-m icon-trash-m"></i></a>
								<a href="#"><i class="icon-m icon-cover-m"></i></a>
							</div>	
						</div>
						<div class="photo_name"><span>风景图</span></div>
					</div>
					<div class="photo_item" >
						<div class="photo_box" id="photo3">
							<img src="../../images/001.jpg" width="150px" height="120px">
							<div class="hidden_box" id="photo3_hidden_box">
								<a href="#"><i class="icon-m icon-trash-m"></i></a>
								<a href="#"><i class="icon-m icon-cover-m"></i></a>
							</div>	
						</div>
						<div class="photo_name"><span>风景图</span></div>
					</div>
					<div class="photo_item" >
						<div class="photo_box" id="photo4">
							<img src="../../images/001.jpg" width="150px" height="120px">
							<div class="hidden_box" id="photo4_hidden_box">
								<a href="#"><i class="icon-m icon-trash-m"></i></a>
								<a href="#"><i class="icon-m icon-cover-m"></i></a>
							</div>	
						</div>
						<div class="photo_name"><span>风景图</span></div>
					</div>
					<div class="photo_item" >
						<div class="photo_box" id="photo5">
							<img src="../../images/001.jpg" width="150px" height="120px">
							<div class="hidden_box" id="photo5_hidden_box">
								<a href="#"><i class="icon-m icon-trash-m"></i></a>
								<a href="#"><i class="icon-m icon-cover-m"></i></a>
							</div>	
						</div>
						<div class="photo_name"><span>风景图</span></div>
					</div>
					<div class="photo_item" >
						<div class="photo_box" id="photo6">
							<img src="../../images/001.jpg" width="150px" height="120px">
							<div class="hidden_box" id="photo6_hidden_box">
								<a href="#"><i class="icon-m icon-trash-m"></i></a>
								<a href="#"><i class="icon-m icon-cover-m"></i></a>
							</div>	
						</div>
						<div class="photo_name"><span>风景图</span></div>
					</div>
						
					<div class="sb_box" id="sb_box">
						<form action="#" method="" id="">
							<table border="0">
								<tr>
									<td>名称
									</td>
									<td><input type="text" placeholder="相册名称">
									</td>
								</tr>
								<tr>
									<td>描述
									</td>
									<td><textarea rows="4" cols="21" placeholder="相册描述" style="padding:3px 5px;"></textarea>
									</td>
								</tr>
								<tr >
									<td colspan="2" ><button type="submit">确定</button>
										<button id="sb_back">取消</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
			<div id="loadingDiv" class="loadingDiv" ></div>
		<div class="footer">
			<p>
				Copyright © 2016 Powered by 社团网申_第12组版权所有
			</p>
			<p>
				地址：广东海洋大学钟海楼04019 邮政编码：524000　电话：18344094195
			</p>
			<div xmlns:wb="http://open.weibo.com/wb">
				<wb:share-button addition="simple" type="button" language="zh_cn"></wb:share-button>
			</div>
		</div>
		
		
		
	<script>
		$("#btn_white").mouseover(function(){
			$("#more_box").show();
		});
		$("#btn_white").mouseout(function(){
			$("#more_box").hide();
		});//更多
		$("#down").click(function(){
			$("#down").hide();
			$("#up").show();
			$("#sb_more").show();
		});//下拉查看详细描述
		$("#up").click(function(){
			$("#up").hide();
			$("#down").show();
			$("#sb_more").hide();
		});//上去
		$(".sb_update").click(function(){
			$("#sb_box").show();
			$("#sb_more").hide();
			$('#loadingDiv').css('display','block'); 
		});//点击编辑相册详情
		$("#sb_back").click(function(){
			$("#sb_box").hide();
			$('#loadingDiv').css('display','none'); 
		});//点击取消，相册详情隐藏
		<!-- -----------------------设置hidden_box出现跟隐藏-------------------------------- -->
		$(".hidden_box").css("visibility","visible");
		$(".hidden_box").hide();
			$(".photo_box").mouseover(function(){
				photo = $(this).attr("id");
				$("#"+photo+"_hidden_box").show();
			});
			$(".photo_box").mouseout(function(){
				$("#"+photo+"_hidden_box").hide();
			});
	</script>
	</body>
</html>