<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>社团管理-相册管理-相册详情</title>
		<link rel='icon' href='../../images/titile_logo.ico' type='image/x-ico' />

		<link rel="stylesheet" type="text/css" href="../../css/club_common.css">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/album.css">
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
		<script type="text/javascript" src="../../js/albuminformation.js"></script>
		
		
	</head>
	<body>
		<div class="top">
			<div class="logobox">
				<img id="logo" src="../../images/logo2.png">
			</div>
			<div class="nav">
				<ul>
					<li><a href="../index.html" >首页</a></li>
					<li><a href="allClub.html">社团</a></li>
					<li><a href="allActivity.html">活动</a></li>
					<li><a href="../message/message.html">留言板</a></li>
				</ul>
			</div>
			<div class="login">
				<a href="javascript:void(0)" onclick="showLoginFrame()">登录</a>
				<a href="javascript:void(0)" onclick="showRegisterFrame()">注册</a>
			</div>
		</div>
		<div class="lwd_main">
			<div class="lwd_main_nav">
				<div class="header_photo">
					<img id="head" src="../../images/ccbg.jpg">
					<p id="userName">梁伟栋</p>
				</div>
				<div class="sidebar_left">
					<div class="sidebar_left_module">
						<a href="../user/personalcenter.html">
							<b><img src="../../images/man.png"></b>
							个人信息
						</a>
						<a href="showjoinedclubs.html">
							<b><img src="../../images/club.png"></b>
							我加入的社团
						</a>
						<a href="memberapplydeal.html" class="curr">
							<b><img src="../../images/club.png"></b>
							我创建的社团
						</a>
					</div>
				</div>
			</div>
			<div class="lwd_main_iframe">
				<div class="cmm_head_nav">
					<ul class="top_navs">
						<li><a href="memberapplydeal.html">申请处理</a></li>
						<li><a href="clubinformationmanage.html">社团信息</a></li>
						<li  class="curr"><a href="albummanage.html">相册管理</a></li>
						<li><a href="membermanage.html">成员管理</a></li>
						<li><a href="activitymanage.html">活动管理</a></li>
						<li><a href="positionmanage.html" id="positionhref">职位管理</a></li>
					</ul>			
				</div>
				<div class="album_info_tool">
					<form id="uploadForm_cover">
						<input type="file" name="file" accept="image/*" id="cover_file" style="display:none;" onchange="updateCover()">
					</form>
					<div class="album_cover" onclick="$('#cover_file').click()">
						<img id="cover" src="../../images/ccbg.jpg" width="100%" height="100%">
						<div class="album_update_cover">修改封面</div>
					</div>
					<div class="album_title">
						
						<b id="album_name">那些逝去的时光</b>
						<span id="number">共24张</span> <span style="color:#666;">/ &nbsp; </span>
						<div class="overflow_hidden"> 斗鱼 -每个人的直播平台提供高清、快捷、
						流畅的视频直播和游戏赛事直播服务,包含英雄联盟lol直播、穿越火线cf直播、
						dota2直播、美女直播等各类热门游戏赛事直播和各种...
						</div>
						<a href="#"><i class="icon-m icon-down-arrow-m" id="down"></i></a>
						<a href="#" ><i class="icon-m icon-up-arrow-m" id="up" ></i></a>
						<div class="sb_more" id="sb_more">
							<table >
								<colgroup span="2">
									<col span="1" style="width:40px;">
									<col span="1" style="width:200px;">
									
								</colgroup>
								<tr>
									<td valign="top"><label for="#">描述</label>
									</td>
									<td><span id="" >情圣梁伟栋风流史，
									斗鱼 -每个人的直播平台提供高清、快捷、流畅的视频直播和游戏赛事直播服务,包含英雄联盟lol直播、穿越火线cf直播、
									dota2直播、美女直播等各类热门游戏赛事直播和各种...</span>
									</td>
								</tr>
								
								<tr>
									<td><label for="#">数量</label>
									</td>
									<td>共<span id="a_number">24</span>张
									</td>
								</tr>
								<tr>
									<td><label for="#">时间</label>
									</td>
									<td><span id="createtime">2016-12-3</span>
									</td>
								</tr>
								<tr>
									<td colspan="2"><a href="#" class="sb_update">编辑相册信息</a>
									</td>
								</tr>
							</table>
						</div>
						<div class="btn_white" onclick="history.go(-1)">返回</div>
					</div>
					
					<div class="album_button_bar">
						<form id="uploadForm_photo">
							<input type="file" accept="image/*" multiple="multiple" class="add_album" name="file" id="photo_file" onchange="photoUpload()">
						</form>
						<label for="photo_file" class="ff"><i class="icon-m icon-photo-upload-m"></i>上传图片</label>
						<button onclick="albumDelete()"><i class="icon-m icon-trash-m"></i>删除相册</button>
					</div>
				</div>
				<div class="album_photo">	
					<div class="sb_box" id="sb_box">
						<form action="#" method="" id="">
							<table border="0">
								<tr>
									<td>名称
									</td>
									<td><input type="text" placeholder="相册名称">
									</td>
								</tr>
								<tr>
									<td>描述
									</td>
									<td><textarea rows="4" cols="21" placeholder="相册描述" style="padding:3px 5px;"></textarea>
									</td>
								</tr>
								<tr >
									<td colspan="2" ><button type="submit">确定</button>
										<button id="sb_back">取消</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="dot_down" id="more"></div>
			</div>
			<div id="loadingDiv" class="loadingDiv" ></div>
		</div>
		<div class="footer">
			<p>
				Copyright © 2016 Powered by 社团网申_第12组版权所有
			</p>
			<p>
				地址：广东海洋大学钟海楼04019 邮政编码：524000　电话：18344094195
			</p>
			<div xmlns:wb="http://open.weibo.com/wb">
				<wb:share-button addition="simple" type="button" language="zh_cn"></wb:share-button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/clubCommon.js"></script>
	</body>
</html>