<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>社团管理-社团信息管理</title>
		<link href="../../css/mystyle.css" rel="stylesheet" type="text/css"> 
		<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
		<link rel='icon' href='../../images/titile_logo.ico' type='image/x-ico' />
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="top">
			<div class="logobox">
				<img id="logo" src="../../images/logo_school.png">
			</div>
			<div class="nav">
				<ul>
					<li><a class="active" href="index.html" >首页</a></li>
					<li><a href="club/allClub.html">社团</a></li>
					<li><a href="club/allActivity.html">活动</a></li>
					<li><a href="massage/massage.html">留言板</a></li>
				</ul>
			</div>
			<div class="login">
				<a href="">登录</a>
				<a href="">注册</a>
			</div>
		</div>
		<div class="lwd_main">
			<div class="lwd_main_nav">
				<div class="header_photo">
					<img src="../../images/ccbg.jpg">
					<p>梁伟栋</p>
				</div>
				<div class="sidebar_left">
					<div class="sidebar_left_module">
						<a href="../user/personalcenter.html">
							<b><img src="../../images/man.png"></b>
							个人信息
						</a>
						<a href="showjoinedclubs.html">
							<b><img src="../../images/club.png"></b>
							我加入的社团
						</a>
						<a href="memberapplydeal.html" class="curr">
							<b><img src="../../images/club.png"></b>
							我创建的社团
						</a>
					</div>
				</div>
			</div>
			<div class="lwd_main_iframe">
				<div class="cmm_head_nav">
					<ul class="top_navs">
						<li><a href="memberapplydeal.html">申请处理</a></li>
						<li class="curr"><a href="clubinformationmanage.html">社团信息</a></li>
						<li><a href="albummanage.html">相册管理</a></li>
						<li><a href="membermanage.html">成员管理</a></li>
						<li><a href="activitymanage.html">活动管理</a></li>
						<li><a href="positionmanage.html">职位管理</a></li>
					</ul>
				</div>
				<form id="clubinfo" action="#" method="#" style="margin-top:20px;">
						<div class="psinfo_pic" style="position:absolute;margin-left:440px;margin-top:10px;">
							<img src="../../images/clubbadge.jpg" id="clubbadge" name="clubbadge" width="180px" height="180px"><br>
							<button id="changeheader" aciton="#" style="margin-left:30px;">修改社徽</button>
							<button id="changeheader" aciton="#" style="margin-left:30px;">保存</button>
						</div>
						<table style="padding-left:50px;float:left;">
							<tr>
								<td><label for="school">归属学校</label></td>
								<td><input type="text" name="school" id="school" placeholder="归属学校" disabled="disabled"></td>
							</tr>
							<tr>
								<td><label for="clubname">社团名称</label></td>
								<td><input type="text" name="clubname" id="clubname" placeholder="社团名称"></td>
							</tr>
							<tr>
								<td><label for="clubtype">社团类型</label></td>
								<td><select name="clubtype" id="clubtype">  
									<option value ="1">Volvo</option>  
									<option value ="2">Saab</option>  
									<option value="3">Opel</option>  
									<option value="4">Audi</option>  
								</select></td>  
							</tr>
							<tr>
								<td><label for="captain">社长</label></td>
								<td><input type="text" placeholder="社长" name="captain" id="captain"></td>
							</tr>
							<tr>
								<td><label for="createdate">创建日期</label></td>
								<td><input type="text" placeholder="创建日期" name="createdate" id="createdate" disabled="disabled"></td>
							</tr>
							<tr>
								<td><label for="membernumber">成员人数</label></td>
								<td><input type="text" placeholder="成员人数" name="membernumber" id="membernumber" disabled="disabled"></td>
							</tr>
							<tr>
								<td><label for="clubphone">社团电话</label></td>
								<td><input type="text" placeholder="社团联系电话" name="clubphone" id="clubphone"></td>
							</tr>
							<tr>
								<td><label for="clubemail">社团邮箱</label></td>
								<td><input type="text" placeholder="社团邮箱" name="clubemail" id="clubemail"></td>
							</tr>
							<tr>
								<td style="vertical-align:top;"><label for="clubprofile">社团简介</label></td>
								<td><textarea rows="10" cols="50" placeholder="社团简介" name="clubprofile" id="clubprofile"></textarea></td>
							</tr>
						</table>
				</form>
			</div>
		</div>
		<div class="footer">
			<p>
				Copyright © 2016 Powered by 社团网申_第12组版权所有
			</p>
			<p>
				地址：广东海洋大学钟海楼04019 邮政编码：524000　电话：18344094195
			</p>
			<div xmlns:wb="http://open.weibo.com/wb">
				<wb:share-button addition="simple" type="button" language="zh_cn"></wb:share-button>
			</div>
		</div>
	</body>
</html>