<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/myEditor.css">
	<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
</head>
<body>
	<div class="editor">
		<div class="editorContent" contenteditable="true">
		</div>
		<div class="toolBar">
			<span class="expression" title="表情" onclick="showExpression(this)"></span>
		</div>
		<button class="comment_post" onclick="comment_post(this)">提交评论</button>
		<button class="comment_cancel" onclick="comment_cancel(this)">取消</button>
	</div>

	<div class="editor">
		<div class="editorContent" contenteditable="true">
		</div>
		<div class="toolBar">
			<span class="expression" title="表情" onclick="showExpression(this)"></span>
		</div>
		<button class="comment_post" onclick="comment_post(this)">提交评论</button>
		<button class="comment_cancel" onclick="comment_cancel(this)">取消</button>
	</div>
	<script type="text/javascript" src="../../js/myEditor.js"></script>
</body>
</html>