<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我加入的社团-社团通讯咯</title>
		<link rel='icon' href='../../images/titile_logo.ico' type='image/x-ico' />

		<link href="../../css/table_style.css" rel="stylesheet" type="text/css"> 
		<link rel="stylesheet" type="text/css" href="../../css/club_common.css">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		
		<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
	</head>
	<body>
		<div class="top">
			<div class="logobox">
				<img id="logo" src="../../images/logo2.png">
			</div>
			<div class="nav">
				<ul>
					<li><a href="../index.html" >首页</a></li>
					<li><a href="allClub.html">社团</a></li>
					<li><a href="allActivity.html">活动</a></li>
					<li><a href="../message/message.html">留言板</a></li>
				</ul>
			</div>
			<div class="login">
				<a href="javascript:void(0)" onclick="showLoginFrame()">登录</a>
				<a href="javascript:void(0)" onclick="showRegisterFrame()">注册</a>
			</div>
		</div>
		<div class="lwd_main">
			<div class="lwd_main_nav">
				<div class="header_photo">
					<img id="head" src="../../images/icon4.jpg">
					<p id="userName"></p>
				</div>
				<div class="sidebar_left">
					<div class="sidebar_left_module">
						<a href="../user/personalcenter.html">
							<b><img src="../../images/man.png"></b>
							个人信息
						</a>
						<a href="showjoinedclubs.html" class="curr">
							<b><img src="../../images/club.png"></b>
							我加入的社团
						</a>
						<a href="memberapplydeal.html">
							<b><img src="../../images/club.png"></b>
							我创建的社团
						</a>
					</div>
				</div>
			</div>
			<div class="lwd_main_iframe">
				<div class="cmm_head_nav">
					<ul class="top_navs">
						<li><a href="showclubinformation.html" id="clubdetailhref">社团详情</a></li>
						<li><a href="showclubalbums.html" id="clubalbumhref">社团相册</a></li>
						<li><a href="showclubactivity.html" id="clubactivityhref">社团活动</a></li>
						<li><a href="showmyinformation.html" id="myinformationhref">个人资料</a></li>
						<li class="curr"><a href="showclubmember.html" id="clubmemberhref">通讯录</a></li>
					</ul>
				</div><br>
				<div class="table_header">
					<input type="button" class="search_btn" value="搜索" onclick="memberSearch()">
					<input type="text" id="search" style="float:right;" placeholder="成员姓名">
				</div>
				<table class="memberlist" style="margin-top:20px;">
					<tr style="background:#999;color:#fff;">
						<th>#</th>
						<th><strong>姓名</strong></th>
						<th><strong>职位</strong></th>
						<th><strong>专业班级</strong></th>
						<th><strong>电话</strong></th>
						<th><strong>入社时间</strong></th>
					</tr>
					<tbody id="membertable">
					
					</tbody>
				</table>
				<br>
				<div class="dot_down" id="more"></div>
			</div>
				<br>
				<div class="dot_down" id="more"></div>
			</div>
		</div>
		<div class="footer">
			<p>
				Copyright © 2016 Powered by 社团网申_第12组版权所有
			</p>
			<p>
				地址：广东海洋大学钟海楼04019 邮政编码：524000　电话：18344094195
			</p>
		</div>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/clubCommon.js"></script>
		<script type="text/javascript" src="../../js/showclubactivity.js"></script>
	</body>
</html>