<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>创建社团</title>
		<link rel='icon' href='../../images/titile_logo.ico' type='image/x-ico' />

		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link href="../../css/create_club.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="top">
			<div class="logobox">
				<img id="logo" src="../../images/logo2.png">
			</div>
			<div class="nav">
				<ul>
					<li><a href="../index.html" >首页</a></li>
					<li><a href="allClub.html">社团</a></li>
					<li><a href="allActivity.html">活动</a></li>
					<li><a href="../message/message.html">留言板</a></li>
				</ul>
			</div>
			<div class="login">
				<a href="javascript:void(0)" onclick="showLoginFrame()">登录</a>
				<a href="javascript:void(0)" onclick="showRegisterFrame()">注册</a>
			</div>
		</div>
		<div class="lwd_main">
			<div class="lwd_main_nav">
				<div class="header_photo">
					<img id="head" src="../../images/icon4.jpg">
					<p id="userName">梁伟栋</p>
				</div>
				<div class="sidebar_left">
					<div class="sidebar_left_module">
						<a href="../user/personalcenter.html">
							<b><img src="../../images/man.png"></b>
							个人信息
						</a>
						<a href="showjoinedclubs.html">
							<b><img src="../../images/club.png"></b>
							我加入的社团
						</a>
						<a href="memberapplydeal.html" class="curr">
							<b><img src="../../images/club.png"></b>
							我创建的社团
						</a>
					</div>
				</div>
			</div>
			<div class="lwd_main_iframe" style="background-image:url('../../images/ccbg.jpg');background-size:100% 100%;">
				<div class="cc_button">
					<a href="#" onclick="showTable()"><b>创建社团</b></a>
				</div>
				<div  id="applytable" class="applytable">
					<button  onclick="closeTable()" style="float:right;background-color:white; margin:0;padding:0;display:inline-block;">
						<div style="background:#999;padding:0 0 10px 10px;border-radius:0 0 0 40px">
							<img src="../../images/close.png " width="20px" height="20px">
						</div>
					</button><br>
					<form action="#" method="#" id="clubcreate"  >
					
						<table  align="center" border="0" style="margin:0 0 10px 30px;">
							<colgroup span="3">
								<col span="1" style="width:80px;">
								<col span="1" style="width:200px;">
								<col span="1" style="width:100px;">
							</colgroup>													
								<tr>
									<td>
										<label for="name">社团名称</label>
									</td>
									<td>
										<input type="text"  name="name" id="name" placeholder="社团名称" maxlength="8" required="required" autofocus>
									</td>
								</tr>
								<tr>
									<td>
										<label for="typeName">社团类型</label>
									</td>
									<td>
										<select id="typeName" style="padding:5px;width:150px;">
											
										</select>
									</td>
								</tr>
								<tr>
									<td>
										<label for="schoolName">学校</label>
									</td>
									<td>
										<select id="schoolName" style="padding:5px;width:150px;">
											
										</select>
									</td>
								</tr>
								<tr>
									<td>
										<label for="phone">联系电话</label>
									</td>
									<td>
										<input type="tel" id="phone" name="phone" placeholder="联系电话" required="required" pattern="[0-9]{11}" >
									</td>
								</tr>
								<tr >
									<td valign="top">
										<label for="reason" >申请理由</label>
									</td>
									<td colspan="2">
										<textarea rows="5" cols="40" name="reason" id="reason" 
												placeholder="申请理由" required="required"
												style="padding:5px 0 0 5px;"></textarea>
									</td>
								</tr>										
								<tr>
									<td colspan="3" style="text-align:center;">
										<button type="submit" onclick="createClub()" style="margin:0 50px 0 0">确定</button>
										<button type="reset">重置</button>
									</td>
								</tr>
						</table>
					</form>
				</div>
			</div>
			
		</div>
		<div class="footer">
			<p>
				Copyright © 2016 Powered by 社团网申_第12组版权所有
			</p>
			<p>
				地址：广东海洋大学钟海楼04019 邮政编码：524000　电话：18344094195
			</p>
			<div xmlns:wb="http://open.weibo.com/wb">
				<wb:share-button addition="simple" type="button" language="zh_cn"></wb:share-button>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/clubCommon.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/tocreateclub.js"></script>
	</body>
</html>