.album{
	width:150px;
	height:130px;
	margin:20px 0px 5px 27px;
	background:#7A81B4;
	display:inline-block;
	position:relative;
	box-shadow:5px 5px 5px #999;
}
.album_pic{
	margin-top:0;
	margin-left:0px;
	width:150px;
	height:100px;
	background:#fff;
	position:absolute;
}
.album_name{
	bottom:0;
	margin-left:0px;
	width:150px;
	height:30px;
	background:#fff;
	border-top:0;
	position:absolute;
	line-height:30px;
}
.album_action{
	bottom:0;
	margin-left:0;
	width:150px;
	height:30px;
	background:#fff;
	position:absolute;
	line-height:30px;
	text-align:center;
	display:none;
}
.album_action button{
	border:0;
	color:#fff;
	padding:5px;
	background:#0063af;
	cursor:pointer;
}
.album_action button:hover{
	background:#37a1cc;
}
.album_a{
	display:block;
	width:150px;
	height:130px;
	text-decoration:none;
	background:#7A81B4;
	color:#fff;
	transition:0.6s;
}
.album_a:hover{
	background:#37a1cc;
}
.photo_mask{
	position:fixed;
	background: rgba(0,0,0,.9);
	top:0;
	left:0;
	z-index:1002;
	display:none;
	padding-top:40px;
}
.photo_mask button{
	background:#666;
	border:0;
	position:absolute;
	right:0;
	top:0;
	padding:0 0 20px 20px;
	margin:0;
	border-radius:0 0 0 50px;
	cursor:pointer;
}
.photo_mask_main{
	width:1100px;
	height:600px;
	margin:auto;
	background:#000;
	line-height:600px;
	text-align:center;
	position:relative;
}
.photo_mask_main img{
	vertical-align:middle;
}
.prepage{
	display:block;
	height: 50px;
    width: 30px;
	position:absolute;
	left:20px;
	top:265px;
	background-image: url(../images/photo-32.png);
	background-position: -80px -516px;
}
.nextpage{
	display:block;
	height: 50px;
    width: 30px;
	position:absolute;
	right:20px;
	top:265px;
	background-image: url(../images/photo-32.png);
	background-position: -113px -516px;
}
.icon-m {
	display: inline-block;
	font-size: 0;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}
.icon-praise-m {
	background-image: url(../images/photo-scan-layer.png);
	background-position: -474px 0;
}
.icon-comment-m {
	background-image: url(../images/photo-scan-layer.png);
	background-position: -474px -18px;
}
.icon-reproduced-m {
	background-image: url(../images/photo-scan-layer.png);
	background-position: -474px -36px;
}
.icon-other-m {
	background-image: url(../images/photo-scan-layer.png);
	background-position: -472px -54px;
}


/*社团管理的进入相册后的样式*/
.album_info_tool{
	width:716px;
	height:92px;
	padding:10px 20px;
	position:relative;
}
.album_cover{
	width:80px;
	height:80px;
	padding:5px;
	border:1px solid #ccc;
	display:inline-block;
	position：relative;
	cursor:pointer;
}
.album_update_cover{
	width:80px;
	height:30px;
	line-height:30px;
	position:absolute;
	bottom:15px;
	background:rgba(0,0,0,0.7);
	color:#fff;
	text-align:center;
	font-size:13px;
	display:none;
}
.album_title{
	
	width:600px;
	height:30px;
	display:inline-block;
	position:absolute;
	
	margin-left:10px;
	padding:5px 0;
	line-height:30px;
	font-family:微软雅黑;
}
.album_title b{
	
	font-size:20px;
	color:#333;
	margin-right:30px;
}
.album_title span{
	
	font-size:12px;
	color:#666;
}
.album_button_bar{
	width:600px;
	height:40px;
	display:inline-block;
	position:absolute;
	margin-left:10px;
	margin-top:50px;
	line-height:40px;
	font-family:微软雅黑;
}
.add_album{
	display:none;
}
.ff{
	padding:5px 10px;
	border:0;
	color:#fff;
	background:#F89F32;
	border-radius:3px;
	cursor:pointer;
	font-size:14px;
	font-family:微软雅黑;
	
}
.ff:hover{
	background:#F1C34B;
}
.album_button_bar button{
	padding:5px 10px;
	border:0;
	color:#fff;
	background:#F89F32;
	border-radius:3px;
	cursor:pointer;
	font-size:14px;
	font-family:微软雅黑;
}
.album_button_bar button:hover{
	background:#F1C34B;
}
.btn_white{
	font-family:微软雅黑;
	padding:0 10px;
	border:1px solid #e5e5e5;
	color:#333;
	background:#fff;
	border-radius:3px;
	cursor:pointer;
	float:right;
	font-size:14px;
}
.icon-m {
	display: inline-block;
	font-size: 0;
	width: 20px;
	height: 18px;
	
	vertical-align:middle;
}
.icon-trash-m {
	background-image: url(../images/photo-scan-layer.png);
	background-position: -436px 0px;
}
.icon-photo-upload-m {
	background-image: url(../images/photo-32.png);
	background-position: -572px -216px;
}
.icon-down-arrow-m {
	background-image: url(../images/photo-32.png);
	background-position: -574px -18px;
	position:absolute;
	top:16px;
	left:377px;
}
.icon-up-arrow-m {
	background-image: url(../images/photo-32.png);
	background-position: -574px -36px;
	z-index:100;
	position:absolute;
	top:16px;
	left:377px;
	display:none;	
}
.icon-cover-m {
	background-image: url(../images/photo-scan-layer.png);
	background-position: -418.6px -0px;
}
.album_photo{
	width:716px;
	padding:20px 20px 0 20px;	
}
.photo_item{
	display:inline-block;
	width:150px;
	height:150px;
	padding:0;
	margin:0 10px 20px 10px;
	border:1px solid #ccc;
	position:relative;
}
.hidden_box{
	width:130px;
	height:30px;
	padding:0 10px;
	line-height:30px;
	position:absolute;
	bottom:28px;
	background:rgba(0,0,0,0.7);
	display:none;
}
.hidden_box a{
	margin-top:0;
	display:inline-block;
	padding:0 4px 0 0;
}
.hidden_box a i{
	margin-top:-5px;
}
.photo_box{
	width:150px;
	height:120px;
	cursor:pointer;
}
.photo_name{
	float:left;
	height:29px;
	width:150px;
	text-align:center;
	line-height:29px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.photo_name span{
	font-size:15px;
	margin:auto;
}
.more_box{
	position:absolute;
	background:#fff;
	top:36px;
	right:0;
	z-index:50;
	border-left:1px solid #e1e1e1; 
	border-top:1px solid #e1e1e1; 
	border-right:1px solid #e1e1e1; 
	display:none;
}
.more_box ul{
	padding:0;
	margin:0;
}
.more_box ul li{
	border-bottom:1px solid #e1e1e1;
	border-left:3px solid #fff;
	text-align:center;
}
.more_box ul li a{
	color:#000;
	display:block;
	padding:6px 30px;
	font-size:13px;
}
.more_box ul li:hover{
	border-left:3px solid #f89f32;
	text-align:center;
	
}
.more_box ul li a:hover{
	color:#f89f32;
}
.album_intro{
	width:580px;
	display:inline-block;
	padding-left:10px;
}
.album_intro span{
	font-size:13px;
	font-family:微软雅黑;
	color:#666;
}
.photo_watch{
	position:absolute;
	width:150px;
	height:120px;
	background:rgba(0,0,0,.6);
	top:0;
	left:0;
	line-height:120px;
	color:#fff;
	text-align:center;
}
.photo_watch a{
	color:#fff;
	padding:50px;
}
/* -------------------------------sb------------------------------ */
.sb_btn{
	padding:5px 10px;
	margin:0 20px 0 0 ;		
}
.albumcreate{
	text-align:center;
}
.sb_more{
	width:275px;
	display:none;
	background:white;
	z-index:60;
	position:absolute;
	top:35px;
	left:250px;
	font-size:12px;	
	color:#666;
	font-family:微软雅黑;
	border:1px solid #ccc;
}
.sb_more table{
	margin:5px 10px  ;
	
	
}
.sb_more table tr td{
	padding:0 0 0 5px ;
}
.sb_more table tr td a{
	color:#1E90FF;
	
}
.sb_more table tr td a:hover{
	
	text-decoration:underline;
}
.sb_box{
	font-family:微软雅黑;
	z-index:110;
	width:22%;
	min-height:120px;
	background:#fff;
	position:absolute;
	top:260px;
	left:600px;
	border-radius:4px;
	border:1px solid #ccc;
	font-size:12px;
	display:none;
	position:fixed;
}	
.sb_box table{
	margin:25px 0 10px 20px;
	
}
.sb_box table input{
	padding:3px 0 3px 5px;
	
}
.sb_box table tr td{
	padding:5px  5px 5px 10px ;
	
}
.sb_box table tr td button{
	margin:0 0 0 48px;
	padding:3px 5px;
}
.loadingDiv{
	position:fixed;
	display:none;
	z-index:105;
	top:70px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(169,169,169,0.5);
}
.overflow_hidden{
	display:inline-block;
	width:154px;
	height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:12px;
	color:#666;
	position:absolute;
	top:8px;
	left:228px;
}
/*.album_title #number{
	position: absolute;
	width: 70px;
    top: 8px;
    left: 155px;
    text-align: right;
}*/
.sb_box #sb_back,.sb_box #updateAlbum{
	margin: 0 0 0 48px;
    padding: 3px 5px;
}
.loadMorePhoto{
	width:200px;
	height: 30px;
	line-height: 30px;
	margin:10px auto; 
	background-color: #12b7f5;
	text-align: center;
	cursor: pointer;
}