.main {
    width: 100%;
    margin-top: 70px;
    overflow: hidden;
}

.main .activity{
	width: 70%;
	margin: 20px auto 0;
	background-color: #ffffff;
	padding-bottom: 2px;
}

.activity-top{
	width: 100%;
	padding: 2px 0;
	background-color: #ccc;
	overflow: hidden;
}
.activity-filtrate{
	float: left;
}
.activity-select{
	height: 30px;
	line-height: 20px;
	border: 1px solid #ccc;
	transition: box-shadow linear .2s;
}
.activity-search{
	float: right;
	margin: auto;
}
.activity-search .search-key{
	float: left;
	padding:4px 6px 4px 6px;
	line-height: 20px;
	border: 1px solid #ccc;
	transition: box-shadow linear .2s;
}
.activity-search .search-key:focus,.activity-select:focus{
	box-shadow: 0px 0px 10px #2f4fec;
}
.activity-search .search-btn{
	float: left;
	width: 80px;
	height: 30px;
	padding: 4px 6px;
	background-color: #12b7f5;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.activityList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.activityList li{
	overflow: hidden;
	height: 40px;
	padding: 5px 10px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	transition: box-shadow linear .2s;
}
.activityList li:hover,.activity-title:hover,.activity-club:hover,.activity-time:hover,.activity-school:hover,#loadMoreActivity:hover{
	box-shadow: 0px 0px 10px #2f4fec;
}
.activityList li a{
	text-decoration: none;
}

.activityList li div{
	float: left;
	border-left: 1px solid #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.activity-title{
	width: 47%;
}
.activity-title a{
	padding-left: 20px; 
}
.activity-club{
	width: 18%;
	text-align: center;
}
.activity-school{
	width: 18%;
	text-align: center;
}
.activity-time{
	width: 16%;
	text-align: right;
}
.activity-time a{
	padding-right: 20px;
}
#loadMoreActivity{
	width: 20%;
	padding: 10px;
	margin: auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
	text-align: center;
}
#loadMoreActivity:hover{
	box-shadow: 0px 0px 10px #2f4fec;
}