.main{
	width:70%;
	margin:70px auto 0px;
}
.clubDetai-top{
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: auto;
	background-color: #fff;
	overflow: hidden;
}

.club-logo{
	float: left;
	width: 45%;
	height: 215px;
	background-color: #e4c6f1;
	border: 1px solid #ccc;
	text-align:center;
}
.club-logo img{
	width: 96%;
	height:92%;
	margin: 2%;
}
.club-info{
	position: relative;
	float: left;
	width: 54%;
	height: 215px;
	margin-left: 1px;
	border:1px solid #ccc;
}
.club-info h3{
	text-align:center;
}
.club-info  .club-info-row{
	padding-top: 5px;
	clear: both;;
}
.club-info-item{
	float: left;
	width: 33.3%;
	margin: auto;
	text-align: center;
	overflow-wrap: break-word;
}
.item-title{
	display: block;
	padding: 5px 0;
	color: #fff;
	background-color: #ccc;
}
.club-info .apply-btn{
	position: absolute;
	width: 50%;
	padding: 5px 0;
	color: #fff;
	background-color: #12b7f5;
	bottom: 0px;
	text-align:center; 
	cursor: pointer;
}
.clubDetai-bar{
	width: 100%;
	padding: 0 10px;
	margin:10px auto;
	background-color: #fff;
}
.clubDetai-bar ul{
	position: relative;
	width: 50%;
	height: 42px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}
.clubDetai-bar ul li{
	float: left;
	width: 32.3%;
	height: 40px;
	margin-left:1px; 
	line-height: 40px;
	color: #fff;
	background-color: #12b7f5;
	border:1px solid #12b7f5;
	text-align: center;
	cursor: pointer;
}
.clubDetai-bar ul li:hover{
	color: #000;
	background-color: #fff;
}
.clubDetai-bar ul .active{
	color: #000;
	background-color: #fff;
}
.clubDetai-content{
	width: 100%;
	padding: 10px;
	background-color: #fff;
}
.club-introduction,.club-activity,.club-album{
	width: 100%;
	border:1px solid #ccc;
}
.club-introduction p{
	padding: 10px;
	text-indent: 2em;
}
.arrows{
	position: absolute;
	display: block;
	width: 0px;
	left: 14.3%;
	top: 40px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 12px solid #fff;
}

/*申请表*/
#applyFrame{
	position: fixed;
	width: 50%;
	padding: 10px;
	min-width: 475px;
	background-color: #fff;
	z-index: 100;
}
#applyFrame #applyForm{
	border:1px solid #ccc;
	overflow: hidden;
}
#applyForm table{
	width: 100%;
	min-width: 475px;
}

#applyForm table td{
	background-color: #ccc;
	text-align: center;
}
#applyForm input,#applyForm select{
	width: 100%;
	height: 100%;
}
#applyForm textarea{
	width: 100%;
	height: 100%;
}
#applyForm .apply_post,#applyForm .apply_cancel{
	width: 150px;
	padding: 5px;
	margin:5px; 
	display: inline-block;
	background-color: #12b7f5;
	cursor: pointer;
}
/*活动*/
.club-activity{
	width: 100%;
	margin: auto;
}
.activity_detail{
	padding: 10px;
}
.club-activity ul{
	width: 50%;
	margin: auto;
	padding: 10px 0;
	list-style: none;
	overflow: hidden;
}
.club-activity ul li{
	padding: 0 10px;
	border-bottom: 1px solid #999;
	overflow: hidden;
}
.club-activity ul li:hover{
	background-color: #ccc;
}
.club-activity a{
	text-decoration: none;
}
.club-activity .activeList-head{
	width: 100%;
}
.club-activity ul li span{
	float: left;
	padding: 1% 1% 1% 0;
	font-family: KaiTi;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.club-activity .active-title{
	width: 70%;
}
.club-activity .active-time{
	width: 28%;
	text-align: right;
}
.club-activity .loadMoreActivity{
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin:10px auto;
	color: #fff;
	background-color: #12b7f5;
	text-align: center;
	cursor: pointer;
}

/*相册样式*/
.club-album ul{
	width: 100%;
	padding: 0;
	margin: 0 auto;
	list-style-type:none;
	overflow: hidden;
}
.club-album ul li{
	float: left;
	width: 23%;
	margin: 1%;
	background-color: #fff;
}
.club-album .club-album-box{
	position: relative;
	padding: 10px;
	background-color: #ccc;
}

.club-album-box img{
	width: 100%;
	height: 160px;
	min-height: 60px;
	background-color: #dddddd;
	cursor: pointer;
}
.club-album-box .photo-count{
	position: absolute;
	right: 11px;
	bottom: 31px;
	color: #fff;
	font-size: 30px;
}
.photo_list{
}
.photo_list_hd{
	background-color: #ddd;
}
.photo_list_hd_albumImg{
	display: inline-block;
	width: 100px;
	height: 80px;
	padding: 5px;
	margin: 1%;
	background-color: #ccc;
	vertical-align: middle;
}
.photo_list_hd_albumImg img{
	width: 100%;
	height: 100%;
}
.photo_list_hd_albumName{
	display: inline-block;
}
.photo_list_bd ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.photo_list_bd ul li{
	display: inline-block;
	width: 16%;
	height: 100px;
	padding: 1%;
	margin: 1%;
	background-color: #ccc;
}
.photo_list_bd ul li:hover{
	background-color: #12b7f5;
}
.photo_list_bd ul li img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.photo_list_bd ul li.photo_acive{
	background-color: royalblue;
}
/*展示照片*/
#photoFrame{
	position: fixed;
	width: 80%;
	min-height: 200px;
	padding: 10px;
	margin: auto;
	background-color: #fff;
	z-index: 100;
}
#photoFrame .photo_close{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0px;
	top: 0px;
	background: url("../images/close_red.png")no-repeat #ccc;
	background-size: 24px 24px;
    background-position: 15px 0px;
    cursor: pointer;
    border-radius: 0 0 0 50px;
}

#photoFrame .bigPhoto{
	position: relative;
	width: 70%;
	margin: auto;
	text-align: center;
	background-color: #ccc;
}
#photoFrame .bigPhoto img{
	width: 100%;
	height: 500px;
	min-height: 500px;
	background-color: red;
}
#photoFrame .bigPhoto .bigPhoto_prev{
	position: absolute;
	width: 50px;
	height: 50px;
	background:url("../images/Triangle_left.png") no-repeat center;
	background-size: 80%;
	top: 50%;
	left: -100px;
	cursor: pointer;
}

#photoFrame .bigPhoto .bigPhoto_next{
	position: absolute;
	width: 50px;
	height: 50px;
	background:url("../images/Triangle_right.png") no-repeat center;
	background-size: 80%;
	top: 50%;
	right:-100px;
	cursor: pointer;
}
#photoFrame .bigPhoto_tip{
	position: absolute;
	display: none;
	width: 200px;
	height: 30px;
	line-height: 30px;
	top: 50%;
	left: 40%;
	color: #fff;
	background-color: #000;
	text-align: center;
	z-index: 110;
}
/*.photoFrame .photoBar{
	position: relative;
	width: 80%;
	height: 100px;
	margin: auto;
	background-color: red;
}
.photoBar .photoList{
	position: relative;
	height: 100px;
	overflow: hidden;
}
.photoList ul{
	position: absolute;
	padding:0;
	margin: 0;
	white-space:nowrap;
	list-style: none;
	overflow: hidden;
}
.photoList ul li{
	float: left;
	width: 100px;
	height: 100px;
}
.photoList ul li img{
	width: 100%;
	height: 100%;
}
.photoBar .photoBar_prev{
	position: absolute;
	width: 20px;
	height: 100px;
	background:url("../images/Triangle_left.png") no-repeat center;
	background-size: 50% 100%;
	top: 0;
	left: -20px;
	cursor: pointer;
}
.photoBar .photoBar_next{
	position: absolute;
	width: 20px;
	height: 100px;
	background:url("../images/Triangle_right.png") no-repeat center;
	background-size: 50% 100%;
	top: 0;
	right: -20px;
	cursor: pointer;
}
.photoBar_prev:hover , .photoBar_next:hover{
	background-color: #12b7f5;
}*/