body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #e7e7e7;
	min-width: 911px;
}
.top{
	width: 100%;
	margin: auto;
	background-color: #82898e;
	top:0;
	z-index: 100;
	min-width: 710px;
	position: fixed;
	/*解决fixed抖动*/
	-webkit-transform: translateZ(0);
}
.top .logobox{
	float: left;
	width: 30%;
	padding-top: 5px;
	text-align: right;
}

#logo{
	-webkit-animation:logoMove 3s 1;
	position: relative;
}
@keyframes logoMove{
	0% {left:-1000px;}
	100% {left:0px;}
}

.top .nav{
	width: 50%;
	float: left;
	padding: 0;
}
.top .nav ul{
	margin: 0;
	list-style: none;

}
.top .nav li{
	float: left;
	text-align: center;
}

.top .nav li a{
	width: 70px;
	height: 70px;
	line-height: 70px;
	color: #ccc;
	text-decoration: none;
	display: block;
}
.top .nav li .active,.top .nav li a:hover{
	background-color: #292d37;
	color: #ffffff;
}
.top .login{
	width: 10%;
	float: left;
}
.top .login a{
	line-height: 70px;
	color: #ccc;
	text-decoration: none;
	font-size: 15px;
}
.top .login a:hover{
	color: #ffffff;
}
.top .user{
	position: relative;
	float: left;
	margin-top:10px; 
}
.top .user:hover .list{
	display: block;
}
.top .user .list{
	position: absolute;
	display: none;
	top: 40px;
	background-color: #fff;
}
.top .user .userImg{
	float: left;
	width: 40px;
	height: 40px;
}
.top .user .userImg img{
	width: 100%;
	height: 100%;
}
.top .user .userName{
	float: left;
    color: #fff;
    line-height: 40px;
}
.top .user .list li{
	list-style-type: none;
	padding: 5px 10px;
}
.top .user .list li:hover{
	background-color: #12b7f5;
}
.top .user .list li a{
	color: #000;
	text-decoration:none;
}
/*页脚*/
.footer{
	width: 100%;
	padding: 20px 0px;
	margin-top:50px; 
	background: #82898e;
	text-align: center;
	clear: both;
}

/*登录框相关*/
#mask{
    position: fixed;
    width: 100%;
    background-color: #000;
    opacity: 0.75;              /*透明度*/
    filter: alpha(opacity=75);  /*兼容IE*/
    left: 0;
    top: 0;
    z-index: 99;
}
#loginFrame{
	position: fixed;
	width: 30%;
	min-width: 350px;
	background-color: #ffffff;
	z-index: 110;
}
.close{
	position: absolute;
	width: 32px;
	height: 24px;
	background-color: red;
	top: 0px;
	right: 0px;
	cursor: pointer;
	text-align: center;
	background: url("../images/login_close.png")no-repeat;
}
.close:hover{
	background-position: 0px -24px;
}
.login-tip{
	width: 100%;
	text-align: center;
	color: red;
}
#login-tab,#register-tab{
	float: left;
	width: 50%;
	height: 55px;
	color: #fff;
	background-color: #12b7f5;
	text-align: center;
	line-height: 55px;
	font-size: 20px;
	cursor: pointer;
}

#loginFrame .tab-active{
	color: #000;
	background-color: #fff;
}
.hd{
	width: 100%;
	overflow: hidden;
}
#loginForm,#registerForm{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
#registerForm{
	display: none;
}
.form-input{
	position: relative;
	width: 50%;
	margin: 5px auto;
}
.login-input-verifiCode{
	overflow: hidden;
	padding: 2px;
}

.input-icon{
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url("../images/login.png");
    background-repeat: no-repeat;
    background-size: 30px;
    top: 5px;
    left: 1px;
}

.icon-account{
    background-position: -2px -9px;
}
.icon-password{
    background-position: -2px -38px;
}

.icon-verifiCode{
    background-position: 0px -62px;
}

.input{
	width: 80%;
	padding: 4px 0px 4px 30px;
	line-height: 25px;
	border: 1px solid #ccc;
    transition: box-shadow linear .2s;
    font-size: 18px;
}
.input:focus{
	box-shadow: none;
	box-shadow: 0px 0px 10px #2f4fec;
}
.input-verifiCode{
	float: left;
	width: 30%;
}
#verifiImg , #rVerifiImg{
	float: left;
	width: 70px;
	height: 29px;
	margin-left: 5px;
	cursor: pointer;
}

#login-btn ,#register-btn{
	width: 50%;
    height: 31px;
    margin: 10px auto;
    color: #fff;
    line-height: 31px;
    text-align: center;
    background-color: #12b7f5;
    cursor: pointer;
}

/*注册页面*/
.icon-name{
	background-position: -2px -89px;
}
#getPhoneCode{
	float: left;
	width: 30%;
	margin-left: 2px;
	color:#fff;
	border:none;
	background-color: #12b7f5;
	text-align:center;
	line-height: 33px;
	cursor: pointer;
}
/*个人中心 加入的社团 社团管理common*/
.lwd_main{
	padding: 20px 0 20px 0;
	width: 990px;
	height:800px;
	margin:80px auto 0 auto;
}
.lwd_main_nav{
	width: 206px;
	height:100%;
	padding: 0 0 3px; 
	margin-bottom: 10px;
	float: left;
	background:#fff;
}
.lwd_main_iframe{
	float: right;
	width: 756px;
	min-height:780px;
	background:#fff;
	padding-bottom:20px;
}
.header_photo{
	padding: 32px 0 20px;
	font-size: 14px;
	color: #999;
	text-align: center;
	border-bottom: 1px solid #e6e6eb;
    margin-bottom: 16px;
}
.header_photo img{
	width: 116px;
	margin: 0 auto 8px;
	height: 116px;
	display: block;
}
.header_photo p{
	line-height: 36px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 25px;
	color: #999;
	font-size: 14px;
	width: 154px;
}
.sidebar_left{
	padding: 0 10px;
}
.sidebar_left .sidebar_left_module{
	padding-bottom: 10px;
	border-bottom: 1px solid #ecedf2;
	margin-bottom: 10px;
}
.sidebar_left .sidebar_left_module a{
	padding-left: 34px;
	background: none;
	height: 34px;
	line-height: 34px;
	display: block;
	font-size: 14px;
	color: #333;
	text-decoration:none;
}

.sidebar_left .sidebar_left_module a:hover{
	background: #ecedf2;	
	color: #0063af;
}

.sidebar_left .sidebar_left_module a.curr{
	background: #0063af;	
	color: #fff;
}
.sidebar_left .sidebar_left_module a b{
	width: 16px;
	height: 34px;
	overflow: hidden;
	float: left;
	padding-right: 10px;
}
.sidebar_left .sidebar_left_module a:hover b img{
	margin-top: -68px; 
}

.sidebar_left .sidebar_left_module a.curr b img{
	 margin-top: -34px; 
	
}
/*end*/
