<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<title>社团页面</title>
		<link rel='icon' href='../../images/titile_logo.ico' type=‘image/x-ico’ /> 
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/message.css">
		<link rel="stylesheet" type="text/css" href="../../css/myEditor.css">
		<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="top">
			<div class="logobox">
				<img id="logo" src="../../images/logo2.png">
			</div>
			<div class="nav">
				<ul>
					<li><a href="../index.html" >首页</a></li>
					<li><a href="../club/allClub.html">社团</a></li>
					<li><a href="../club/allActivity.html">活动</a></li>
					<li><a class="active" href="message.html">留言板</a></li>
				</ul>
			</div>
			<div class="login">
				<a href="">登录</a>
				<a href="">注册</a>
			</div>
		</div>
		<div class="main">
			<div class="main_left"><!--左部开始-->
				<div class="main_left_tool_bar">
					<ul>
						<li class="active"><i class="icon-m icon-comment-m-select"></i></li>
						<li><i class="icon-m icon-link-m"></i></li>
						<li><i class="icon-m icon-photo-m"></i></li>
					</ul>
				</div>
				<div style="position:relative;">
					<div class="stream-share-arrow"></div>
					<div class="static_comment_box"><p>这个东西没啥用！占个位置。</p></div>
					
				</div>
				<!-- 评论列表-->
				<div class="main_left_main">
					<!--一条评论-->
					<!-- <div class="comment_item">
						<div class="img_radius"><img src="../../images/ccbg.jpg" width="100%" height="100%"></div>
						<div class="item_main">
							<div class="item_row_one">
								<b>Dikuni</b><span>2016-11-29</span>
							</div>
							<div class="item_row_two">
								<p>呀！情歌丸子郑烁彬啊！我是他的忠实粉丝啊！他在叫我我！啊啊啊！我要到他的签名了啊！我太激动了！不行了！我要晕倒了！谁来扶扶我！</p>
							</div>
							<div class="item_row_three">
								<a href="#"><i class="icon-m icon-transmit-m"></i><label>转发</label></a>
								<a href="#"><i class="icon-m icon-response-m"></i><label>评论 1条</label></a>
								<a href="#"><i class="icon-m icon-praise-m"></i><label>10</label></a>
							</div>
							<div class="item_row_four">
								<div class="editor">
									<div class="editorContent" contenteditable="true">
									</div>
									<div class="toolBar">
										<span class="expression" title="表情" onclick="showExpression(this)"></span>
									</div>
									<button class="comment_post" onclick="comment_post(this)">提交评论</button>
									<button class="comment_cancel" onclick="comment_cancel(this)">取消</button>
								</div>
								<div class="response_item">
									<div class="response_item_img"><img src="../../images/001.jpg" width="100%" height="100%"></div>
									<div class="response_item_main">
										<p><b>Bige:</b>啦啦啦大吗西亚！</p>
										<p class="create_date">2016-11-29<a href="#"><i class="icon-m icon-praise-m-green"></i><label>10</label></a></p>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!--一条评论结束-->
					<!-- <div class="comment_item">
						<div class="img_radius"><img src="../../images/ccbg.jpg" width="100%" height="100%"></div>
						<div class="item_main">
							<div class="item_row_one">
								<b>Dikuni</b><span>2016-11-29</span>
							</div>
							<div class="item_row_two">
								<p>呀！情歌丸子郑烁彬啊！我是他的忠实粉丝啊！他在叫我我！啊啊啊！我要到他的签名了啊！我太激动了！不行了！我要晕倒了！谁来扶扶我！</p>
							</div>
							<div class="item_row_three">
								<a href="#"><i class="icon-m icon-transmit-m"></i><label>转发</label></a>
								<a href="#"><i class="icon-m icon-response-m"></i><label>评论 5条</label></a>
								<a href="#"><i class="icon-m icon-praise-m"></i><label>10</label></a>
							</div>
							<div class="item_row_four"> -->
								<!--二级评论列表-->
								<!-- <div class="response_input">
									<input type="text" placeholder="评论请文明用语！" value="">
									<div><a href="#"><i class="icon-m icon-face-m"></i></a></div>
									<button class="response_submit">提交评论</button><button class="response_cancel">取消</button>
								</div>
								<div class="response_item">
									<div class="response_item_img"><img src="../../images/001.jpg" width="100%" height="100%"></div>
									<div class="response_item_main">
										<p><b>Bige:</b>啦啦啦大吗西亚！撸啦撸啦撸！我爱撸啊撸！撸出血！撸断肠！至死方休！啦啦啦啦啦啦啦！</p>
										<p class="create_date">2016-11-29<a href="#"><i class="icon-m icon-praise-m-green"></i><label>10</label></a></p>
									</div>
								</div>

								<div class="response_item">
									<div class="response_item_img"><img src="../../images/001.jpg" width="100%" height="100%"></div>
									<div class="response_item_main">
										<p><b>Bige:</b>啦啦啦大吗西亚！</p>
										<p class="create_date">2016-11-29<a href="#"><i class="icon-m icon-praise-m-green"></i><label>10</label></a></p>
									</div>
								</div>

								<div class="response_item">
									<div class="response_item_img"><img src="../../images/001.jpg" width="100%" height="100%"></div>
									<div class="response_item_main">
										<p><b>Bige:</b>我爱撸啊撸！撸出血！撸断肠！至死方休！啦啦啦啦啦啦啦！</p>
										<p class="create_date">2016-11-29<a href="#"><i class="icon-m icon-praise-m-green"></i><label>10</label></a></p>
									</div>
								</div>
								<a href="#">显示更多评论>></a>
							</div>
						</div>
					</div> -->

					<!-- <div class="comment_item">
						<div class="img_radius"><img src="../../images/ccbg.jpg" width="100%" height="100%"></div>
						<div class="item_main">
							<div class="item_row_one">
								<b>Dikuni</b><span>2016-11-29</span>
							</div>
							<div class="item_row_two">
								<p>呀！情歌丸子郑烁彬啊！我是他的忠实粉丝啊！他在叫我我！啊啊啊！我要到他的签名了啊！我太激动了！不行了！我要晕倒了！谁来扶扶我！</p>
							</div>
							<div class="item_row_three">
								<a href="#"><i class="icon-m icon-transmit-m"></i><label>转发</label></a>
								<a href="#"><i class="icon-m icon-response-m"></i><label>评论 0条</label></a>
								<a href="#"><i class="icon-m icon-praise-m"></i><label>10</label></a>
							</div>
						</div>
					</div> -->

					<!-- <div class="comment_item">
						<div class="img_radius"><img src="../../images/ccbg.jpg" width="100%" height="100%"></div>
						<div class="item_main">
							<div class="item_row_one">
								<b>Dikuni</b><span>2016-11-29</span>
							</div>
							<div class="item_row_two">
								<p>呀！情歌丸子郑烁彬啊！我是他的忠实粉丝啊！他在叫我我！啊啊啊！我要到他的签名了啊！我太激动了！不行了！我要晕倒了！谁来扶扶我！</p>
							</div>
							<div class="item_row_three">
								<a href="#"><i class="icon-m icon-transmit-m"></i><label>转发</label></a>
								<a href="#"><i class="icon-m icon-response-m"></i><label>评论 0条</label></a>
								<a href="#"><i class="icon-m icon-praise-m"></i><label>10</label></a>
								
							</div>
						</div>
					</div> -->
				</div>
				<!--评论列表结束-->
			</div>
			<!--左部结束-->
			<!--右部开始-->
			<div class="main_right">
				<div class="main_right_head">
					<div class="head_img_radius"><img src="../../images/ccbg.jpg" width="100%" height="100%"></div>
					<p><b>Dikuni</b></p><div class="level_star">10</div>
					<div class="process_bar"><span style="width: 90%"></span></div>
				</div>
				<div class="main_right_mid">
					<ul>
						<li><a href="#"><b>收藏</b></a></li>
						<li><a href="#"><b>我的评论</b></a></li>
						<li><a href="#"><b>粉丝</b></a></li>
					</ul>
				</div>
				<div class="main_right_list">
					<div class="list_header active"><b>我的好友</b></div>
					<div class="friend_item">
						<div class="friend_head_radius">
							<img src="../../images/001.jpg" width="100%" height="100%">
						</div>
						<b>Bige</b>
					</div>
					<div class="friend_item">
						<div class="friend_head_radius">
							<img src="../../images/001.jpg" width="100%" height="100%">
						</div>
						<b>我爱撸啊撸</b>
					</div>
					<div class="friend_item">
						<div class="friend_head_radius">
							<img src="../../images/001.jpg" width="100%" height="100%">
						</div>
						<b>生命诚可贵</b>
					</div>
					<div class="friend_item">
						<div class="friend_head_radius">
							<img src="../../images/001.jpg" width="100%" height="100%">
						</div>
						<b>噗噗噗噗</b>
					</div>
					<div class="list_header"><b>黑名单</b></div>
					<div class="list_header"><b>相关的人</b></div>
				</div>
			</div>
			<!--右部结束-->
		</div>
		<div class="footer">
			<p>
				Copyright © 2016 Powered by 社团网申_第12组版权所有
			</p>
			<p>
				地址：广东海洋大学钟海楼04019 邮政编码：524000　电话：18344094195
			</p>
			<div xmlns:wb="http://open.weibo.com/wb">
				<wb:share-button addition="simple" type="button" language="zh_cn"></wb:share-button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/message.js"></script>
		<script type="text/javascript" src="../../js/myEditor.js"></script>
	</body>
</html>