<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<link href="../../css/table_style.css" rel="stylesheet" type="text/css">
        <link rel='icon' href='../../images/titile_logo.ico' type='image/x-ico' />
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		
		<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/personalcenter.js"></script>
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
    	<div class="top">
			<div class="logobox">
				<img id="logo" src="../../images/logo_school.png">
			</div>
			<div class="nav">
				<ul>
					<li><a href="../index.html" >首页</a></li>
					<li><a href="allClub.html">社团</a></li>
					<li><a href="allActivity.html">活动</a></li>
					<li><a href="../message/message.html">留言板</a></li>
				</ul>
			</div>
			<div class="login">
				<a href="">登录</a>
				<a href="">注册</a>
			</div>
		</div>
		<div class="lwd_main">
			<div class="lwd_main_nav">
				<div class="header_photo">
					<img id="head" src="../../images/icon4.jpg">
					<p id="userName">梁伟栋</p>
				</div>
				<div class="sidebar_left">
					<div class="sidebar_left_module">
						<a href="personalcenter.html" class="curr">
							<b><img src="../../images/man.png"></b>
							个人信息
						</a>
						<a href="../club/showjoinedclubs.html?id=2">
							<b><img src="../../images/club.png"></b>
							我加入的社团
						</a>
						<a href="../club/memberapplydeal.html">
							<b><img src="../../images/club.png"></b>
							我创建的社团
						</a>
					</div>
				</div>
			</div>
			<div class="lwd_main_iframe" style="position:relative;">
				<div class="psinfo_header">
					<h3>个人基本信息</h3>
				</div>
				<br><br>
						<div class="psinfo_pic">
							<img src="../../images/icon4.jpg" id="portrait" name="portrait" width="150px" height="150px"><br><br>
							<form id="uploadForm">
								<input type="file" name="file" accept="image/*" id="uploadHead" style="display:none;">
								<input type="text" name="id" id="id" style="display:none;">
							</form>
							<label for="uploadHead" class="upload_btn" style="margin-left:20px;margin-top:5px;">修改头像</label>
							<button style="margin-left:20px;margin-top:10px;"" onclick="updateDetails()">保存</button>
							<br><br>
							<button style="margin-left:20px;" onclick="showUpdatePassword()">修改密码</button>
						</div>
						<table style="padding-left:50px;float:right;">
							<tr>
								<td><label for="name">真实姓名</label></td>
								<td><input type="text" name="name" id="name" placeholder="真实姓名"></td>
							</tr>
							<tr>
								<td><label for="sex">性别</label></td>
								<td><input type="radio" name="sex" id="male">男<input type="radio" name="sex" id="female">女</td>
							</tr>
							<tr>
								<td><label for="phone">联系电话</label></td>
								<td><input type="text" placeholder="联系电话" name="phone" id="phone"></td>
							</tr>
							<tr>
								<td><label for="email">邮箱</label></td>
								<td><input type="text" placeholder="email" name="email" id="email"></td>
							</tr>
							<tr>
								<td><label for="hobby">爱好特长</label></td>
								<td><textarea rows="5" cols="50" placeholder="爱好特长" name="hobby" id="hobby"></textarea></td>
							</tr>
							<tr>
								<td><label for="singnation">个性签名</label></td>
								<td><textarea rows="5" cols="50" placeholder="个性签名" name="singnation" id="singnation"></textarea></td>
							</tr>
						</table>
			</div>
		</div>
        <div class="footer">
			<p>
				Copyright © 2016 Powered by 社团网申_第12组版权所有
			</p>
			<p>
				地址：广东海洋大学钟海楼04019 邮政编码：524000　电话：18344094195
			</p>
			<div xmlns:wb="http://open.weibo.com/wb">
				<wb:share-button addition="simple" type="button" language="zh_cn"></wb:share-button>
			</div>
		</div>
	</body>
</html>